@model IEnumerable<FribergsBilar.Models.Booking>

@{
    ViewData["Title"] = "Bookings";
}

<h1>Bokningar</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Namn:
            </th>
            <th>
                Start datum:
            </th>
            <th>
                Slut datum:
            </th>
            <th>
                Mail:
            </th>
            <th>
                Avklarad:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>

            @if(item.IsCompleted == false)
            {
                    <td>
                        <a asp-action="Delete" asp-controller="Booking" asp-route-id="@item.BookingId">Ta bort</a>
                    </td>
            }
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Dashboard" asp-controller="Admin">Tillbaka</a>
</div>
