@model IEnumerable<FribergsBilar.Models.Car>

@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var car in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => car.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Price)
            </td>
            <td>
                <form asp-action="BookCar" asp-controller="Booking" method="post">
                   <input type="hidden" name="id" value="@car.CarId" />
                   <button type="submit" class="btn btn-primary">Boka</button>
                </form>              
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@car.CarId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@car.CarId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@car.CarId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
